li a {
    color: #122760;
    font-size: 25pt;
}

form {
    color: #122760;
    font-size : 25pt;
}

a:hover {
    size: 200%;
    font-weight: bolder;
    color: #3A518E;
}

h1 {
    color: #122760;
    font-weight: bolder;
    font-size: 60pt;
}

body {
    background: #8697C5;
}