ul {
    color : #095057;
    font-size: 25pt;
}

li a {
    color: #095057;
    font-size: 25pt;
}

a {
    color: #095057;
    font-size: 25pt;
}

a:hover {
    size: 200%;
    font-weight: bolder;
    color: #2C7980;
}

h1 {
    color: #095057;
    font-weight: bolder;
    font-size: 60pt;
}

body {
    background: #77B4BA;
}