ul {
    color:#8F4A0D ;
}

li a {
    color: #8F4A0D;
}

a {
   color: #D38947 
}

a:hover {
    size: 200%;
    font-weight: bolder;
    color: #D38947;
}

h1 {
    color: #8F4A0D;
    font-weight: bolder;
}

body {
    background: #FFCEA3;
}