ul {
    color : #014409;
    font-size: 25pt;
}

li a {
    color: #014409;
}

a {
    color: #014409;
    font-size: 25pt;
}

a:hover {
    size: 200%;
    font-weight: bolder;
    color: #2E8639;
}

h1 {
    color: #014409;
    font-weight: bolder;
    font-size: 60pt;
}

body {
    background: #86C78E;
}